* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  display: grid;
  grid-template-areas:
    "header header header"
    "form form form"
    "article article favourites";
  grid-auto-flow: row;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  letter-spacing: -0.05rem;
}

@media screen and (max-width: 600px) {
  #root {
    grid-template-areas:
      "header"
      "form"
      "favourites"
      "article";
  }
}
